*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}
.navbar {
	width: 100%;
	height: 70px;
	background-color: #3bb19b;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar h1 {
	color: white;
	font-size: 25px;
	margin-left: 20px;
}

.white_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-right: 20px;
	color: black;
}


.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 500px;
  padding-top:  250px;

}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.container3 {
  display: flex;
  justify-content: center;
}

.container4 {
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
	display: flex;
	flex-direction: column;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
	align-items: center;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #ccc;
  width: 250px;
  margin-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

p {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
